fastapi
uvicorn
pydantic
pydantic_settings
python-dotenv
PyJWT
supabase
azure-core
azure-ai-formrecognizer
azure-storage-blob
langchain-openai
tiktoken
google-generativeai
PyMuPDF
python-docx
Pillow
numpy
moviepy==1.0.3
opencv-python
yt-dlp
langchain-text-splitters
langchain-core
openai
aiohttp